.login-container {
 text-align: center;
 border: 2px solid white;
 width: 20rem;
 margin: 8rem auto;
 padding: 20px;
 background: black;
 box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
}
.login-title {
  color: #f0555b;
}
.login-form {
  display: block;
}
.form-group {
  padding: 10px;
}
.form-group  {
  padding: 5px;
}
.form-group input {
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}
.login-btn {
  width: 5rem;
    border-radius: 5px;
    background: #f0555b;
    border: 2px solid #f0555b;
    color: white;
    text-transform: uppercase;
    height: 1.5rem;
    transition: 0.5s;
}
.login-btn:hover {
background: #0b0d0c;
color: #f0555b;
border: 2px solid #f0555b;
}
.no-account {
  color: #fff;
  font-size: 17px;
}
.no-account a {
  text-decoration: none;
  color: blue;

}
.or-sign-in h1 {
  color: white;
  margin-bottom: -15px;
  margin-top: -10px;
}
.or-sign-in h2 {
  color: white;
}
.back-btns {
  margin: 10px auto;
  text-align: center;
  width: 10rem;
}
@media screen and (max-width: 768px)  {
  .back-btns {
    width: 5rem;
  }
}
@media screen and (max-width: 320px) and (max-height: 568px) {
  .login-container {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
  }

  .back-btns {
    width: 30%;
  }
}
