.updated-data {
  max-width: 600px;
  margin: 5rem auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.update-label {
  color: #fff;
}
.update-input {
  width: 50%;
  padding: 8px;
  display: flex;
  margin: 0 auto;
}
.update-submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive styles for tablets and larger screens */
@media only screen and (min-width: 601px) {
  .updated-data {
    max-width: 800px;
  }
}

/* Responsive styles for PCs and larger screens */
@media only screen and (min-width: 1025px) {
  .updated-data {
    max-width: 1000px;
  }
}
