.addjob-container {
  margin: 8rem auto;
  display: flex;
  justify-content: center;
  border: 2px solid #f0555b;
  width: 500px;
  padding: 20px;
}
.update-input {
  border-radius: 10px;
  width: 20rem;
}
textarea {
  resize: none;
}
