/* AboutPage.css */
.about-container {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .about-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .about-content {
    max-width: 800px;
  }
  .about-content p span {
    color: #f0555b;
    font-size: 25px;
  }
  