@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Oswald:wght@500&display=swap");
.container {
  margin: 0 auto;
  width: 1100px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
.hero-section {
  display: flex;
  gap: 8rem;
  margin: 5.5rem 2rem 10px 10px;
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text h1 {
  font-size: clamp(20px, 5vw, 60px);
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: white;
}
.hero-image img {
  width: 400px;
  position: relative;
  margin-top: -20px;
  margin-left: -60px;
}
.hero-text {
  align-items: center;
}
.hero-text h1 span {
  color: #f0555b;
}
.hero-text h4 {
  border-left: 3px solid #f0555b;
  font-weight: 400;
  font-size: 18px;
  padding-left: 20px;
  line-height: 28px;
  margin: 40px 0;
  color: white;
}
.hero-text button {
  cursor: pointer;
  background: #f0555b;
  border: 1px solid transparent;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  height: 50px;
  transition: 0.5s all ease;
}
.hero-text button:hover {
  background: #0b0d0c;
  border: 2px solid #f0555b;
  color: #f0555b;
}
.hero-text button a {
  position: relative;
  color: white;
  width: 0px;
  left: 4px;
  text-decoration: none;
  align-items: center;
  padding: 20px;
}
.hero-text button a:hover {
  color: #f0555b;
}
.latest-job {
  font-size: 1.5rem;
  color: #f0555b;
  width: 20rem;
  margin: -4rem auto;
}
.latest-job 
/* responsive */

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .hero-text h1 {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 45px;
  }
  .hero-text h4 {
    width: 130px;
    font-size: 18px;
    line-height: 20px;
  }
  .hero-image img {
    width: 200px;
    position: relative;
    top: 11.5rem;
    left: -4rem;
  }
  .hero-section {
    display: flex;
    gap: 0.5rem;
    margin: 40px 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero-image img {
    margin-top: 0;
    margin-left: 2rem;
  }
}
