.card {
  border-radius: 8px;
  padding: 35px;
  margin: 10px 10px;
  height: 22rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
  align-items: center;
  transition: box-shadow 0.3s ease, transform 0.9s ease;
  border: 2px solid #f0555b;

  &:hover {
    border: 2px solid #0b0d0c;
    box-shadow: 0 2px 10px #f0555b;
    background: #0b0d0c;
    transform: translateY(-10px);
  }
}
.image-company {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card h2 {
  color: #fff;
}

.card h3 {
  color: #fff;
  text-align: start;
}

.card p {
  color: #fff;
  text-align: start;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  gap: 10px;
}
.button-container button {
  border: 2px solid #f0555b;
  border-radius: 5px;
  background: #0b0d0c;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}
.see_details a {
  color: #0b0d0c;
  font-weight: bold;
  color: #fff;
}
.heart {
  color: red !important;
}
.edit-button a {
  color: #fff;
}
.delete-icon {
  color: red;
}
/* Media queries for responsiveness */

@media (max-width: 600px) {
  .card {
    padding: 12px;
    margin: 12px;
  }

  .card h2 {
    font-size: 18px;
  }

  .card h3 {
    font-size: 16px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .favorite-button,
  .edit-button,
  .delete-button {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .card {
    padding: 14px;
    margin: 14px;
  }

  .card h2 {
    font-size: 22px;
  }

  .card h3 {
    font-size: 18px;
  }
}
