/* Your existing styles */
.contact-container {
    width: 25rem;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background: black;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow */
  }
  .contact-container h2 {
    color: #f0555b;
    border: 2px solid #fff;
    width: 15rem;
    margin: 20px auto;
    padding: 5px;
  }
  .contact-info {
    color: white;
    margin: 0 3rem; 
    width: 350px;
  }
  .single-address {
    display: flex;
    gap:  30px;
    align-items: center;
  }
  .single-address strong  {
    display: flex;
    gap: 5px;
    color: #f0555b;
  }

  .contact-info p {
    margin: 10px 0;
  }
  
  /* Responsive styles for tablets */
  @media only screen and (max-width: 768px) {
    .contact-info {
      text-align: left;
      max-width: none; /* Remove max-width for responsiveness on smaller screens */
    }
  }
  
  /* Responsive styles for mobile */
  @media only screen and (max-width: 480px) {
    .contact-info p {
      font-size: 14px;
    }
  }
  