.details-card {
  margin: 0 2rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
/* JobDetails.css */

.details-card {
  max-width: 350px;
  margin: 130px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #333333;
  border-radius: 8px;
  border: 2px solid #f0555b;
}

.details-image-company {
  display: flex;
  align-items: center;
  background: #333;
}
.details-image-company img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.details-image-company p {
  font-weight: bold;
  color: #fff;
}

.details-card h2 {
  color: #fff;
}

.details-card h3 {
  display: flex;
  align-items: center;
  color: #f0555b;
}

.details-button-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.details-apply-button,
.details-back {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.done {
  color: green !important;
}
